@section Styles {
    <link href="/css/map.css" asp-append-version="true" rel="stylesheet" />
    <link href="/lib/leaflet/leaflet.css" rel="stylesheet" />
}

@section Scripts {
    <script src="/lib/leaflet/leaflet.js"></script>
    <script src="/controllers/map.js" asp-append-version="true"></script>
}

<div id="map">
    <div id="header">
        <div>
            <img src="/assets/img/avatars/logo_ecotech.png" />
        </div>
    </div>
    <footer>
        <a href="https://ecotech2a.com/" alt="logo_2a" class="text-decoration-none px-1 text-dark" target="_blank">© 2024 CÔNG NGHỆ ĐƯỢC PHÁT TRIỂN BỞI  <b style="color: #09784b">ECO</b><b style="color: #f04e25">TECH 2A</b>, JSC</a>
    </footer>
</div>